@{
    ViewData["Title"] = "Home Page";
}

<div>
    <a asp-action="Index" asp-controller="Banks">Banks control</a>
</div>

<div>
    <a asp-action="Index" asp-controller="Borrowers">Borrowers conotrol</a>
</div>

<div>
    <a asp-action="Index" asp-controller="CreditTypes">CreditTypes control</a>
</div>

<div>
    <a asp-action="Index" asp-controller="Guarantors">Guarantors control</a>
</div>